

.section {
  position: relative;
  width: 710px;
  min-height: 450px;
  margin-left: 40px;
  padding: 30px 0px;
  border: 1px solid gray;
  border-radius: 5px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.exerciseList {
  display: flex;
  width: 560px;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;
}

.listItem {
  width: calc((100% - 30px) / 3);
  &:not(:nth-of-type(3n)) {
    margin-right: 15px;
  }
  &:not(:nth-last-child(-n + 3)) {
    margin-bottom: 15px;
  }
}

.description {
  font-weight: 600;
}

.order {
  font-weight: 600;
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
}

.exerciseName {
  font-weight: 700;
  margin: 5px 0px;
}

.label {
  display: inline-block;
  color: red;
  margin-right: 10px;
}

.notesLabel {
  display: block;
  text-align: center;
  font-weight: 700;
  margin-top: 20px;
  cursor: pointer;
}

.notes {
  min-width: 380px;
  min-height: 150px;
  resize: none;
  margin-top: 15px;
}

.notesWrap {
  display: flex;
  justify-content: center;
}

.btnWrap {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.circle {
  display: inline-flex;
  width: 15px;
  height: 15px;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.messageContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 500px;
  height: 400px;
  padding: 60px 0px;
  // border: 1px dashed black;
}

.message {
  margin-bottom: 70px;
  font-weight: 700;
  text-align: center;
}

.image {
  display: block;
  margin: 0 auto;
}

.btn {
  border: transparent;
  border-radius: 5px;
  background-color: red;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  &:hover {
    background-color: grey;
  }
}
