.trainingBlock {
  width: 550px;
  height: 350px;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 0 auto;
  padding: 20px;
}

.list {
  list-style: none;
  margin-bottom: 25px;
}

.listItem {
  display: flex;
  margin-bottom: 5px;
}

.trainingName {
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;

}

.exerciseName {
  font-weight: 700;
  margin-right: 15px;
}

.params {
  font-weight: 600;
  color: red;
  margin-right: 7px;
}

.notesTitle {
  font-weight: 700;
  margin-bottom: 5px;
}

// .notes {
//     overflow: scroll;
// }

.btnContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
 
}

.btn {
  padding: 7px 10px;
  cursor: pointer;
  border: transparent;
  border-radius: 5px;
  background-color: red;
  color: #fff;
  &:hover {
    background-color: grey;
  }
}