* {
  box-sizing: border-box;
}

.calendarBody {
  text-align: center;
}

.title {
  display: inline-flex;
  justify-content: center;
  font-weight: 700;
  width: 150px;
}

.dateBtn {
  display: inline-flex;
  justify-content: center;
  width: 50px;
  height: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  line-height: 1;
  cursor: pointer;
  user-select: none;
  &:hover {
    color: white;
    background-color: red;
    border-color: red;
  }
}

.calendarDays {
  display: flex;
  flex-wrap: wrap;
}

.day {
  position: relative;
  width: 150px;
  height: 150px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-right: 15px;
  margin-bottom: 15px;
  &:hover {
    border-width: 2px;
    cursor: pointer;
  }
}

.padDay {
@extend .day;
border-color: transparent;
// background-color: lightgray;
// border-color: lightgray;
} 

.currentDay {
 @extend .day;
  &:hover {
    border-width: 2px;
    cursor: pointer;
  }
  color: red;
  border: 1px solid red;
}

.dayIcon {
  position: absolute;
  top: 7px;
  right: 7px;
  color: gray;
  font-weight: 700;
}

.currentDayIcon {
  @extend .dayIcon;
  color: red;
}

.headColumn {
  color: red;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  margin-right: 15px;
}

.headRow {
  height: 50px;
  display: flex;
}

.row {
  height: 150px;
  display: flex;
}

.column {
  position: relative;
  border: 1px solid lightgray;
  border-radius: 10px;
  width: 150px;
  margin: 5px;
}
