body {
  position: relative;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 700px;
  height: 500px;
  padding: 30px 0px;
  border-radius: 5px;
  background-color: #fff;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    color: red;
  }
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 5px;
  
}

.list {
  list-style: none;
  padding: 0 20px;
}

.listBlock {
  width: 550px;
  height: 350px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid grey;
}

.time {
  display: inline-flex;
  height: 25px;
  width: 50px;
  margin-right: 15px;
  font-size: 20px;
  font-weight: 700;
  color: red;
  justify-content: center;
  border-bottom: 1px solid red;
}

.training {
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  &:hover {
    color: grey;
  }
}

.btnContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 7px 10px;
  cursor: pointer;
  border: transparent;
  border-radius: 5px;
  background-color: red;
  color: #fff;
  &:hover {
    background-color: grey;
  }
}

.cancelBtn {
  @extend .btn;
  height: 25px;

}