.listBlock {
    width: 550px;
    height: 350px;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 0 auto;
    padding: 20px;
}

.list {
    list-style: none;
    padding: 0 20px;

}

.listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed grey;
    padding: 5px 0;
    margin-bottom: 5px;
}

.training {
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    &:hover {
        color: grey;
        cursor: pointer;
    }

}

.time {
margin-right: 10px;
}

.addBtn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 25px;
    border-radius: 5px;
    background-color: red;
    color: #fff;
    cursor: pointer;
    &:hover {
        background-color: grey;
    }
}

.btnContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.btn {
    padding: 7px 10px;
    cursor: pointer;
    border: transparent;
    border-radius: 5px;
    background-color: red;
    color: #fff;
    &:hover {
      background-color: grey;
    }
  }