.daySchedule {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid lightgray;
}

.dayTitle {
    color: red;
    margin-bottom: 0;
}

.list {
list-style: none;
padding-left: 0;
}

.listItem {
margin-right: 15px;
}

.parameter {
    font-weight: 700;
    margin-right: 10px;
}