.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    height: 180px;
    padding: 40px 20px;
    background-color: #fff;
    font-family: var(--mainFont);
    border-radius: 5px;
}

.message {
    text-align: center;
}

.btnContainer {
    display: flex;
    justify-content: center;
}

.btn {
    width: 60px;
    height: 30px;
    border: transparent;
    border-radius: 5px;
    color: #fff;
    background-color: red;
    cursor: pointer;
}

.confirmBtn {
    @extend .btn;
    &:not(:last-of-type) {
        margin-right: 10px;
    }
}