.section {
    width: 100%;
    padding: 30px 0;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.textBlock {
    width: 500px;
    margin-left: 60px;
   
}

.title {
    font-family: var(--mainFont);
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 40px;
}

.text {
    font-family: var(--mainFont);
    font-size: 20px;
    font-weight: 600;
    &:not(:last-of-type) {
        margin-bottom: 10px;
    }
}

.link {
    color: red;
}

.sci {
    color: #5A5A5A;
}

.fit {
    color:red;
}

.image {
    width: 600px;
}

.paragraph {
    margin-top: 0;
}